{{ ansible_managed | comment }}

### Admins
{% for user in user_groups.admins %}

oper {{ users[user].irc | default(user) }} {
  mask
	password "{{ users[user].irc_oper.pass }}" { {{ users[user].irc_oper.type }}; };
  class clients;
  operclass netadmin-with-override;
  modes "+q";
  swhois "is a Network Administrator";
};
{% endfor %}


# IRCops
{% for user in user_groups.irc_ops %}

oper {{ user }} {
  mask *
  password "{{ users[user].irc_oper.pass }}" { {{ users[user].irc_oper.type }}; };
	class clients;
  operclass admin-with-override;
  modes "+q";
  swhois "is a Co Administrator"
};
{% endfor %}
