{{ ansible_managed | comment }}

### Admins
{% for user in user_groups.admins %}

oper {{ user }} {
	class clients;
	from { userhost *@*; };
	password "{{ users[user].irc_oper.pass }}" { {{ users[user].irc_oper.type }}; };
	flags { netadmin; can_gkline; can_override; can_gzline; can_restart; can_die; global; };
	modes +q;

};
{% endfor %}


# IRCops
{% for user in user_groups.irc_ops %}

oper {{ user }} {
	class clients;
	from { userhost *@*; };
	password "{{ users[user].irc_oper.pass }}" { {{ users[user].irc_oper.type }}; };
	flags { coadmin;
	  can_localkill; can_globalkill;
	  can_kline; can_unkline; can_gzline;
	  can_wallops; can_localnotice; can_globalnotice;
	};
	modes +q;
};
{% endfor %}
