mailer-daemon: postmaster
postmaster: root
nobody: root
hostmaster: root
usenet: root
news: root
webmaster: root
www: root
ftp: root
abuse: root
noc: root
security: root
root: team

board: {% for user in user_groups.board_members %} {{ users[user].mail | mandatory }} {% endfor %}
team: {% for user in user_groups.admins %} {{ users[user].mail | mandatory }} {% endfor %}
